[Unit]
Description=Check Muwa IP certificate renewal twice daily
[Timer]
OnCalendar=*-*-* 00,12:20:00
RandomizedDelaySec=15m
Persistent=true
[Install]
WantedBy=timers.target
